*{
	margin: 0;
	padding: 0;
	outline: 0;
}
body {
	font-family: verdana;
	background: #A7A8AC;
}
.template {
	width: 960px;
	margin: 0 auto;
}
.clear {
	overflow: hidden;
}


/*Header Section CSS Starts*/
.header-section {
	background: #212D3B;
	color: #fff;
	text-align: center;
}
.header-section h1 {
    padding: 38px;
}
/*Header Section CSS Ends*/

/*Navigation Section CSS Starts*/
.nav-section {
	background: #fff;
}
.nav-section ul {
	float: left;
}
.nav-section ul li {
    float: left;
    display: block;
}
.nav-section ul li a {
    text-decoration: none;
    color: #212D3B;
    display: block;
    font-size: 20px;
    padding: 8px;
    background: #E9EBEC;
    margin: 12px 2px 12px 22px;
}
.nav-section ul li a:hover {
	background: #212D3B;
	color: #fff;
}
#active {
	background: #212D3B;
	color: #fff;
}
/*Navigation Section CSS Ends*/

/*Content Section CSS Starts*/
.wrapper {
    background: #2E3F51;
    padding: 20px 0;
}
.wrapper .blog {
    width: 65%;
    float: left;
    margin: 20px 0 20px 20px;
    background: #697585;
    padding: 15px;
}
.wrapper .blog .box {
    padding-bottom: 30px;
}
.wrapper .blog .box h2 {
    background: #E3E2E7;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.wrapper .blog .box img {
    width: 115px;
    float: left;
    margin: 5px 12px 6px 10px;
    background: #fff;
    padding: 5px;
    border: 1px solid;
}
.wrapper .blog .box p {
    color: #CBD7E7;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
.wrapper .blog .box table {
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 30px;
}
.wrapper .blog .box table.table-col {}
.wrapper .blog .box .table-col tr:nth-child(2n+1) {
    background: #fff;
}
.wrapper .blog .box .table-col tr:nth-child(2n) {
    background: #E3E2E7;
}
.wrapper .blog .box .table-col td {
    padding: 8px;
    text-align: center;
}
.wrapper .blog .box .table-col th {
    font-size: 20px;
    padding: 18px;
    color: #fff;
    background: #2E3F51;
}

.wrapper .sidebar {
	width: 25%;
	float: right;
	background: #697585;
    margin: 20px 20px 20px 0;
}
.wrapper .sidebar .box {
    padding: 30px 15px 0 15px;
    margin-bottom: 0px;
}
.wrapper .sidebar .box:last-child {
    padding: 30px 15px 30px 15px;
}
.wrapper .sidebar .box h2 {
    background: #E3E2F4;
    padding: 8px;
    margin-bottom: 10px;
}
.wrapper .sidebar .box p {
    background: #E3E2E7;
    padding: 9px;
    font-size: 15px;
    line-height: 1;
    border-bottom: 1px solid;
}
/*Content Section CSS Ends*/

/*Contact Section CSS Starts*/
.contact-section {
    background: #2E3F51;
    color: #fff;
    padding-bottom: 65px;
}
.contact-section h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 50px;
    color: #A7A8AC;
}
.contact-section .sub-content {
    width: 50%;
    float: left;
    text-align: right;
}
.contact-section .sub-content .box {
    padding: 20px 27px 20px 20px;
}
.contact-section .sub-content .box h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
.contact-section .sub-content .box p {
    font-size: 16px;
    line-height: 1.4;
    padding-left: 101px;
    margin-bottom: 15px;
}

.contact-section .contact-form {
    width: 50%;
    float: right;
}
.contact-section .contact-form .box {
    padding: 20px;
}
.contact-section .contact-form .box h2 {
    font-size: 30px;
    margin-bottom: 32px;
}
.contact-section .contact-form .box input {
    width: 80%;
    padding: 11px;
    margin-bottom: 17px;
    font-size: 16px;
}
.contact-section .contact-form .box textarea {
    padding: 11px;
    width: 80%;
    margin-bottom: 17px;
    font-size: 16px;
}
.contact-section .contact-form .box button {
    font-size: 16px;
    width: 86%;
    padding: 9px;
    background: #FB414E;
    color: #fff;
    border: 0;
}
.contact-section .contact-form .box button:hover {
    background: red;
}


/*Contact Section CSS Ends*/


/*Footer Section CSS Starts*/
.footer-section {
	background: #EEEEEE;
	color: #212D3B;
}
.footer-section p {
	text-align: center;
	padding: 30px;
}

/*Footer Section CSS Ends*/


